<div class="row mx-auto justify-content-center align-items-center"  style="margin-top: 7%">
  <div class="col-xs-12 text-center">
    <h1>Minhas Tarefas</h1>
  </div>
  <div class="col-md-8 col-md-offset-2 col-xs-12">
    <div class="list-group">
      <%= link_to 'Nova Tarefa', new_list_task_path, class: 'btn btn-success' %>
      <ul class="list-group">
        <% @tasks.each do |task| %>
          <li class="list-group-item d-flex justify-content-between align-items-center" style='margin-top: 10px'>
            <%= link_to task.name,list_task_path(task.list_id, task),  class: 'list-group-item list-group-item-action' %>
            <%= if task.status 
            'Feito' 
            else 
            'Não feito' 
            end %>
            <%= link_to 'Editar', edit_list_task_path(task.list_id, task), class: 'btn btn-warning' %>
            <%= link_to 'Excluir', list_task_path(task.list_id, task), method: :delete, class: 'btn btn-danger', data: { confirm: 'Tem certeza que deseja excluir?'} %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>