<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @task.name %>
</p>

<p>
  <strong>Descrição:</strong>
  <%= @task.description %>
</p>

<p>
  <strong>Foi feita:</strong>
  <%= @task.status %>
</p>

<p>
  <strong>Tarefa Criada:</strong>
  <%= @task.created_at.strftime("%d/%m/%Y %H:%M") %>
</p>

<p>
  <strong>Ultima atualização da Tarefa:</strong>
  <%= @task.updated_at.strftime("%d/%m/%Y %H:%M") %>
</p>

<p>
  <strong>Tarefa da lista:</strong>
  <%= List.find(@task.list_id).name %>
</p>

<%= link_to 'Voltar', list_tasks_path %>
